@import url('https://fonts.googleapis.com/css?family=Roboto');


.AddCatButton {
	align-self: center;
	background: transparent;
	font-weight: bold;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-decoration: none;
	/*box-shadow: 0px 1px 1px 1px #929aa8;*/
	width: 100%;
	border: 1px solid black;
	outline: none;
}


.AddCatButton:hover { transform: scale(0.9) }
