@import url('https://fonts.googleapis.com/css?family=Roboto');


.AddPostForm {
	font-size: 2.5vw;
	padding:0;
	margin: 0;
	text-align: center;
}


.AddPostComponent {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	background: black;
}

.AddPostButton
{
	background: transparent;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-decoration: none;
  border-color: black;
  border: 1px solid black;
  outline: none;
}

.AddPostButton:active{ transform: scale(0.99) }

.ImageUpload
{
	width: 75%;
	margin: auto;
}





