@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Rock+Salt');

.Home
{
	width: 165px;
	height: 200px;
}

.logo 
{
	top: 0;
	left: 0;
	background-image: url('logo.svg');
	background-size: 200px 200px;
	background-repeat:no-repeat;
	height:200px;
	width:165px;
	margin: 0 0 0 0;
	overflow: hidden;
}


h1 
{
	color:black;
}

h1, h1:hover, h1:visited, h1:link, h1:active, h1:focus, .home, .home:hover 
{
	text-decoration: none; 
	color:black;
	border-color: transparent;;
}

a:hover 
{
	text-decoration: none;
}




