@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Rock+Salt');

.Home
{
	width: 75px;
	height: 75px;
	left: 0;
}

.logo 
{
	top: 0;
	left: 0;
	background-image: url('logo_small.svg');
	background-size: 200px 200px;
	background-repeat:no-repeat;
	height:75px;
	width:75px;
	margin: 0 0 0 0;
	overflow: hidden;
}


h1 
{
	color:black;
}

h1, h1:hover, h1:visited, h1:link, h1:active, h1:focus, .home, .home:hover 
{
	text-decoration: none; 
	color:black;
	border-color: transparent;;
}

a:hover 
{
	text-decoration: none;
}


/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .logo
    {
    	background-image: url('logo_big.svg');
    	height:200px;
	    width:165px;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    
}



