/* body
{
	display:flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	margin: 0;
}*/

body, html 
{
	width: 100%;
	height: 100%;
}
.Header
{
	display:flex;
	flex-direction: row;
	overflow: hidden;
	
	/*justify-content: center;	*/
}


/*
.categoryInstructions:clicked{transform: scale(1.1);}

.categoryInstructions
{
	padding: 0px;
	margin: 0px;
  text-align: center;
  align-content: center;
  font-size: 2.5vw;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 30%;
  margin: auto;
}

.FingerIcon
{
	width: 64px;
	height: 64px;
	background-image: url("finger_swipe.png");
	text-align: center;
	align-self: center;
	display: inline;
	max-width: 100%;
}

.KeyboardIcon
{
	width: 64px;
	height: 64px;
	background-image: url("keyboard.png");
	text-align: center;
	align-self: center;
	display: inline;
	max-width: 100%;
}*/

/*.categoryInstructions:clicked .FingerIcon:clicked .KeyboardIcon:clicked{display: none;}

@media screen and (max-width: 640px) 
{
    .KeyboardIcon .FingerIcon 
    {
         width: 8px;
         height: 8px;
    }
    .categoryInstructions 
    {
      width: 40%;
    }
}*/

.App
{
	height: 100%;
	margin: 0;
	padding: 0;
}

/*body
{
	padding: 0;
	margin: 0;
}*/


.Controls
{
	font-size: 2.7vw;
	text-align: center;
	border-radius: 20px;
	margin: auto;
	padding: 2px;
	width: 30%;
	height: 45%;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px 1px #929aa8;
  background: #cdddf7;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
}

.Content
{
	min-height: 100vh;
  
}

.PostButton {
	box-shadow: 1px 1px 0px 0px #929aa8;
  background: #cdddf7;
  border-radius: 1px;
}

.SmallReply
{
  text-decoration: none;
  background: transparent;
  border-style: none;
  outline-style: none;
  padding: 0 0 0 5;
  font-weight: bold;
}



 /* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.CategoryItem
    {
      font-size: 0.5vw;
    }

    .Navbar
    {
    	margin: auto;
    	margin-left: 57px;
    	width: 100%;
    }
    .Header
    {
    	height: 25vw;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {


  
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

  	.Header
  	{
  		height: 20vh;
  	}

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}



/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  .Controls
  {
		font-size: 2vw;
  }

  .Header
  {
  	height: 33vh;
  }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {

  	    .Controls
  {
		font-size: 2vw;
  }
}

/* ----------- high zoom ----------- */
@media screen 
  and (min-device-width: 1600px) 
  and (max-device-width: 2000px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  .Controls
  {
    font-size: 2vw;
  }

  .Header
  {
    height: 30vh;
  }
}




